
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* declarar variables para repeticiones de color o fuentes*/



:root{
--color-primario: #000000;
--color-secundario: #f6f6f6; 
--color-terciario: #22d4fd; 
--color-hover: #ff0000;
--fuente-montserrat: "Montserrat", sans-serif;
--fuente-krona: "Krona One", sans-serif;
}

/* medidas absolutas de fuentes pixel cambiar 
a relativas para mejor adaptacion a pantallas android,..ios.. 
1 rem=24 px, 0.5rem= 8px, 1.5 rem=24 px, etc...*/


/* body se indica 16px -> dentro de <div> cuando se 
indica font-size: 100% (= 16px)
indica font-size: 150% (= 24px) y asi.. 
las unidades van pegadas a los numeros ojo*/



* {
    padding: 5;
    border: 5;
    margin: 1;
}






body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    /* height: 100vh; no es necesario indicar ocupar el 100% de la pantalla */
    box-sizing: border-box;
}

.titulo-destacado {
    color: var(--color-terciario);
}






.header{
       padding: 2% 0% 0% 15%;
}

.header__menu{
display: flex; 
gap: 80 px;
}

.header__menu__link{
    padding: 15px; 
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem ;
    color: var(--color-terciario);
    font-weight: 600;
    text-decoration: none;
}

    .header__menu__link:hover{
     color: var(--color-hover);
    }







.presentacion{
    display: flex;
    align-items: center;
    /* margin: 10% 15%; mucho espadio para recorrer -> mejor padding */ 
    padding: 7% 5% 10% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido{

    width: 50%;
    display: flex; 
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{

    font-size: 2.25rem;
    font-family: var(--fuente-krona);
    }

.presentación__contenido__texto{

    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

    .presentación__contenido__texto:hover{
    color: var(--color-hover);

     }





.presentacion__enlaces{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__link{
    width: 50%;
   /* background-color: #22d4fd; mismo fondo de body*/
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid rgb(300, 1, 2);
    display: flex;
    justify-content: center;  /* en el eje horizontal*/ 
    gap: 10px;
    }

     .presentacion__enlaces__link:hover{
     background-color: var(--color-hover)
     }

.presentación__enlaces__subtitulo{

    font-size: 1.5rem;
    font-family: var(--fuente-krona);
    font-weight: 400;

}


.presentacion__imagen{
width: 50%;
}


.footer{
       background-color: var(--color-terciario);
       padding: 1.5rem;
       color: var(--color-primario);
       text-align: center;
       font-family: var(--fuente-montserrat);
       font-size: 2.25rem ;
       font-weight: regular;
    }



@media (max-width: 1200px) {
   
.header{
    padding: 10%;
    }    
.header__menu{
    justify-content: center;
}

.presentacion {
flex-direction: column-reverse;
padding: 5%;
}

.presentacion__contenido{
    width: auto;
}

}


































/* 

encuadrar texto
span{

    font-weight: bold;
    color: #F3E885;
    border: 3px solid #22d4fd;
    padding: 10px;
}

*/

